*.pyc
**/*.pyc
__pycache__/
**/__pycache__/
.DS_Store
**/.DS_Store
deleteme*
**/deleteme*
!wandb_runs/**

# Make sure to ignore private/secret variables
.env
.env**

# Artifacts/weights/outputs/data folders
ciphers/kirchenbauer_et_al/artifacts/
ciphers/kirchenbauer_et_al/src/artifacts/
