# Task
By understanding the question and the solution as it is implemented, please analyze the runtime of the solution and explain it in detail.

Use whatever theorems/analysis you need to explain the runtime. If it helps you could write some benchmarking code. I am doing this for a class project and it would be helpful if you could handle the boilerplate benchmarking code so we can find the fastest solution possible.

# Problem
{{ question }}

## Source
{{ source_description }}
## Additional Context
{{ things_to_know }}

{% if expected_inputs_outputs %}
## Examples
{{ expected_inputs_outputs }}
{% endif %}

## Solution to Analyze

Here's a solution to the problem:
{{ answer }}

## Runtime Analysis
So, what is the runtime? Please:
- Use big-O notation
- Use a simple logical or mathematical analysis to justify yourself (take your time to think it out)
- focus on worst-case but also mention average-case if randomization is used
- write some benchmarking code to test the runtime compared to other solutions (I have but I haven't shown u