<examples>
{{ expected_inputs_outputs }}
</examples>

<problem>
{{ question }}
</problem>

<context>
<source>{{ source_description }}</source>
<additional_info>{{ things_to_know }}</additional_info>
</context>

<current_solution>
Here's my current solution that works correctly:
{{ answer }}
</current_solution>

<request>
Please implement comprehensive unit tests for this solution. Use the provided examples to create test cases.

Because the unit tests have code (and due to my renderer for markdown/xml) PLEASE use triple backticks to enclose the unit tests so my parser can extract them. Like so:
```
your code goes here....

def function(something something):
    something else!
```
</request>