<problem>
{{ question }}
</problem>

<context>
{{ things_to_know }}
</context>

<source>
{{ source_description }}
</source>


<examples>
{{ expected_inputs_outputs }}
</examples>

<current_solution>
Here's my current working solution:
```{{ answer }}```
</current_solution>

<request>
I need help refactoring this code to use asyncronous python, yields/iterators, and more modern python features to save memory/etc...

Please implement in asynchronous python trying to maximize overleaving opportunities.

Also help me understand the implications for overhead, since I'm honestly not sure to
what extent this is worth it here for this specific problem. Try to output some like
pros/cons in an ascii table if possible.

Please provide the refactored solution in triple backticks so my parser can extract it.
</request>